.carouselContainer {
    display: block;
    margin-left: 16px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
    color: var(--color-text-main);
}

.carouselWrapper {
    position: relative;
}

.carousel {
    display: flex;
    list-style: none;
    align-items: stretch;
    gap: 7px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-right: 16px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.categoryItem {
    height: 238px;
    position: relative;
    flex-shrink: 0;
}


.categoryImage {
    width: 163px;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 60%);
    pointer-events: none;
    border-radius: 15px;
}

.categoryLink {
    text-decoration: none;
    display: block;
    height: 100%;
}

.categoryTitle {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--primary-red);
    background-color: var(--neutral-bg-color);
    border-radius: var(--radius-pill);
    font-size: 14px;
    font-weight: 600;
    padding: 6px 14px;
}

.arrowLeft {
    left: -8px;
}

.arrowRight {
    right: 8px;
}